.container-card{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;
    height:100vh;
}

.card{ 
    min-width:300px;
    max-width:400px;
    height: auto;
    border:2px solid rgb(209, 200, 200);
    background: rgb(236, 235, 243);
    filter : drop-shadow(0px 10px 10px #000);
}

.card-img {
    width:100%;
    height: 60%;
    overflow: hidden;
}

.img-responsive {
    width : 100%;
	height : auto;
}

.card-menu{
    align-items:center;
    list-style-type: none;
    width: 100%;
    padding-top:0.3rem;
    display: flex;
    background:  rgb(191, 129, 53);
}

.card-menu-item{
    display: block;
    padding: 0.5rem;
    width:7rem;
    text-align: center;
}

.card-menu-item-link{
    font-size: var(--fs-16);
    font-weight: 100;
    color:azure;
    text-decoration: none;
}

.card-menu-item-link::after{
    content:"";
    display:block;
    margin: 0.125rem  auto;
    width:0%;
    height: 0.125rem;
    background-color:azure;
    transition: width 0.3s ease-in-out;
}

.card-menu-item-link:hover::after{
    width:100%;
}

.card-menu-item-link:hover{
    font-weight:700;
}

.card-block-title{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    height:4rem;
}
.card-title {
    padding : 10px;
    color:rgb(101, 39, 246);
}

.card-info {
    padding:10px 10px 10px 10px;
    font-size: smaller;
}

.card-link {
    padding: 0px 10px;
    text-decoration: none;
    
} 

.card-link::after{
    content:"";
    display:inline;
    margin: 0.125rem  auto;
    width:0%;
    height: 0.125rem;
    background-color:azure;
    transition: width 0.3s ease-in-out;
}

.card-link:hover::after{
    width:90%;
}

@media screen and (max-width:520px){
    .card-title {
        padding: 5px;
        font-size: var(--fs-16);
    }
    .container-card{
        height:100%;
        margin-top: 50px;
        margin-bottom: 100px;
        gap:70px;
    }

    .card-input{
        height: 2.5rem!important;
        width: 170px;
    }

}

@media screen and (max-width:380px){
    .card-img {
    height: 50%;
    }

}