
/* PAGE LOGIN */

li label{
    display: inline-block;
    font-size: smaller;
    color:rgb(131, 158, 159);
    padding-left:0.2rem;
}

.forgetten-pwd{
    margin-top:-1.1rem;
    text-align: right;
    margin-bottom: 0.3rem;
    padding: 0 0.5rem;
    font-style: italic;
    font-weight: 100;
    font-size: var(--fs-14);
}

.forgetten-pwd a{
    text-decoration: none;
}

.forgetten-pwd a::after{
    content:"";
    display:block;
    width:0%;
    height: 0.0625rem;
    text-decoration: none;
    background: #f1f1f1;
    transition: width 0.2s ease-in-out;
    margin-left:77%;
}

.forgetten-pwd a:hover::after{
    width:22%;
}

.space-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:770px;
    margin-top:0rem;
}

/* PAGE LOGIN */
@media screen and (max-width:520px){
    .forgetten-pwd{
        padding: 0.2rem 0.9rem 0rem;
    }
}
